@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&display=swap');

@import "tailwindcss";

:root {
  --primary: #1D2EA6;
  --secondary: #5243D9;
  --accent: #7B5CFF;

  --bg: #050505;
  --card: #0F0F0F;

  --text: #FFFFFF;
  --muted: #B0B0B0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: var(--text);
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Bebas Neue", sans-serif;
}